@font-face {
  font-family: 'Barlow';
  src: url('fonts/Barlow-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('fonts/Barlow-Extra-Bold-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}





/* "modern" reset technique : https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/**
  * The show starts here
  */

  :root {
    /* Base */
    --orange : #f49600;
    --blue : #00baee;
  
    /* Colors */
    --text : rgba(0,0,0,.8);
    --lighter: #ccc;

    /* Sizes */
    --root-font-size: 1em;
    --flow-margin: 2rem;
    --section-margin: 2rem;
    --section-padding: 2rem;
    --gap: 1rem;

    /* Shadows */
    --shadow : .25rem .25rem 0 0;
  }

::selection {
  background-color: var(--text);
  color: var(--orange);
}

a {color: #000}

html {
  font-size: var(--root-font-size);
}

body {
  background-color: var(--orange);
  font-family: 'Barlow', sans-serif;
  line-height: 1.5;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

p:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 900;
  line-height: 1.2;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem;}
h3 { font-size: 1.5rem;}

address { font-style: normal; }

.section {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--section-padding);
}

.header__logo {
  max-width: 80%;
  height: auto;
  max-height: 15rem;
}

.section--header {
  background-color: #fff;
}

.section--presentation {
  background-color: var(--orange);
}

.section--contact {
  background-color: var(--blue);
}

.section--service {
  background-color: #fff;
}


.horaires-list {
  background-color: #fff;
  list-style: none;
  border: 3px solid #000;
  box-shadow: .25rem .25rem 0 0 #000;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding: calc(var(--section-padding) / 2);
  margin: 0;
}

.address-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.address-place {
  display: block;
  text-align: center;
}




/** Composants  */


.button {
  display: inline-flex;
  padding: .5rem 1.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  border: 3px currentColor solid;
  background-color: var(--orange);
  box-shadow: var(--shadow) currentColor;
  transition: box-shadow 300ms;
  font-size: 1.5rem;
}


.button:hover {
  box-shadow: 0 0 0 0 #000; 
}

.button:active {
  background-color: #fff;
  box-shadow: 0 0 0 0 #000;
}

.button--blue {
  background-color: var(--blue);
}




/** Utilitaires */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/** Responsive :) */

@media(min-width: 50rem) {
  :root {  
    /* Sizes */
    --root-font-size: 1.2em;
    --flow-margin: 5rem;
    --section-margin: 2rem;
    --section-padding: 3rem;
    --gap: 3rem;
  }

  .section {
    display: grid;
    grid-template-columns:  .5fr 1fr;
    gap: var(--gap);
  }

  .section--contact, .section--legal {
    display: flex;
  }

  .section__intro {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
  }
  
  .section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align-last: left;
  }
}